@page
@model MidtermAuction.Pages.NewAuctionSuccessModel
@{
    ViewData["Title"] = "New Auction Confirmation";
}

<h3>@ViewData["Title"]</h3>
<p>You have successfully created a new auction Item: <b>@Model.ItemName</b></p>
<div><a href="./Index">Home</a></div>